.calloutInfo {
    border: 1px solid black;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.smallImages {
    width: 100px;
    height:60px;
}

.calloutReviewInfo {
    display: flex;
    justify-content: space-between;
    width:200px
}
